<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=devie-width, initial-scale=1">
    <title>URL shortener</title>
    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet"></head>
  <body class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <span class="glyphicon glyphicon-link"></span>
        <h1>URL Shortener</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="input-group input-group-lg">
          <input id="url-field" type="text" class="form-controll" placeholder="Link Goes Here">
          <span class="input-group-btn">
            <button type="button" class="btn btn-shorten" type="button">shorten</button>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="link">
        </div>
      </div>
    </div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="javascripts/shorty.js"></script>



  </body>
</html>
